// メインカラー
$aC: #5E9F00; // リンクカラー (Green)
$aC: #2E93CD; // リンクカラー (Blue)
$aC: #F55145; // リンクカラー (Orange)

$mC: #5d1986; // メインカラー (紫)
$mC: #ef8b21; // メインカラー (オレンジ)
$mC: #35ae95; // メインカラー (青緑)
$mC: #6caad3; // メインカラー (水色)
$mC: #63aed8; // メインカラー (水色)

$sC: #572e8a; // サブカラー (紫)

$hoC: #999999; // マウスオーバーカラー

$redC: #990011;

$bdC: #DDDDDD;

